Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

Update http_adaptive_stream plugin
  hls/mix.exs
Due: hls-changed

Move to membrane_h26x_plugin. Update deps (#374)
  engine/CHANGELOG.md
  engine/mix.lock
  file/CHANGELOG.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  recording/CHANGELOG.md
  recording/mix.lock
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed

Update http adaptive stream plugin
  integration_test/mix.lock
Due: integration-changed

Update http adaptive stream plugin (#377)
  integration_test/mix.lock
Due: integration-changed

Add end_timestamp in recording report
  recording/lib/recording_endpoint.ex
  recording/lib/reporter.ex
  recording/test/reporter_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed

Update chanelog
  recording/CHANGELOG.md
Due: repo-root-changed

Modify end_track in RecordingEndpoint
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Add LastBufferTimestamp module
  recording/lib/last_buffer_timestamp.ex
  recording/lib/recording_endpoint.ex
  recording/lib/reporter.ex
  recording/test/reporter_test.exs
  recording/test/storage/file_test.exs
  recording/test/storage/s3_test.exs
Due: repo-root-changed

Add another recording_endpoint test
  integration_test/test/recording_endpoint_test.exs
  recording/lib/last_buffer_timestamp.ex
Due: repo-root-changed, integration-changed

Fix tests after rebase
  integration_test/test/recording_endpoint_test.exs
Due: integration-changed

Run formatter
  integration_test/test/recording_endpoint_test.exs
Due: integration-changed

Changes after review
  recording/lib/last_buffer_timestamp.ex
  recording/lib/reporter.ex
Due: repo-root-changed

Fix typo
  recording/lib/last_buffer_timestamp.ex
  recording/test/reporter_test.exs
  recording/test/storage/s3_test.exs
Due: repo-root-changed

Rename LastTimestampBuffer
  recording/lib/edge_timestamp_saver.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Extend recording report created by RecordingEndpoint (#376)
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/lib/recording_endpoint.ex
  recording/lib/reporter.ex
  recording/test/reporter_test.exs
  recording/test/storage/file_test.exs
  recording/test/storage/s3_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed, integration-changed

Add metrics to recording endpoint and cleanup on s3 upload error
  integration_test/test/recording_endpoint_test.exs
  recording/lib/metrics.ex
  recording/lib/recording_endpoint.ex
  recording/lib/storage/s3/sink.ex
  recording/test/storage/s3/sink_test.exs
Due: repo-root-changed, integration-changed

Update changelog
  recording/CHANGELOG.md
Due: repo-root-changed

Fix s3 sink test
  recording/lib/recording_endpoint.ex
  recording/test/storage/s3/sink_test.exs
Due: repo-root-changed

Fix removing elemens in recording endpoint
  recording/lib/edge_timestamp_saver.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Fix s3 upload metrics
  recording/lib/metrics.ex
  recording/lib/storage/s3/sink.ex
Due: repo-root-changed

Requested changes
  recording/lib/metrics.ex
  recording/lib/storage/s3/sink.ex
Due: repo-root-changed

Add metrics to recording endpoint and cleanup on s3 upload error (#378)
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/lib/metrics.ex
  recording/lib/recording_endpoint.ex
  recording/lib/storage/s3/sink.ex
  recording/test/storage/s3/sink_test.exs
Due: repo-root-changed, integration-changed

Save report only when it contains any track
  integration_test/test/recording_endpoint_test.exs
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, integration-changed

Update Changelog
  recording/CHANGELOG.md
Due: repo-root-changed

Fix dialyzer issue
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Update recording/lib/recording_endpoint.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

RTC-505 Save report only when it contains any track (#379)
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, integration-changed

Implement recovery mechanism for recording endpoint
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  recording/CHANGELOG.md
  recording/lib/guard.ex
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Requested changes
  recording/lib/recording_endpoint.ex
  recording/lib/storage/s3.ex
Due: repo-root-changed

Refactor s3 storage
  recording/lib/storage/s3.ex
Due: repo-root-changed

Change requests
  recording/lib/storage/s3.ex
Due: repo-root-changed

Try fix s3 objects if file storage is present (#380)
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  recording/CHANGELOG.md
  recording/lib/guard.ex
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

RecordingEndpoint sends finished after all input tracks unlink
  integration_test/test/fixtures/two_seconds.h264
  integration_test/test/recording_endpoint_test.exs
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, integration-changed

Handle subscribe messages from removed endpoint
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Update changelog
  engine/CHANGELOG.md
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
Due: repo-root-changed, engine-changed, integration-changed

Remove comment
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Update Engine.subscribe
  engine/CHANGELOG.md
  engine/guides/custom_endpoints.md
  engine/lib/membrane_rtc_engine/engine.ex
  hls/CHANGELOG.md
  hls/lib/hls_endpoint.ex
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  sip/CHANGELOG.md
  sip/lib/sip_endpoint.ex
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc_endpoint.ex
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed

Changes after review
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Fix docs
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Update engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Path conditions:
  repo-root-changed: any of: (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).*
  engine-changed: any of: engine/.*
  webrtc-changed: any of: webrtc/.*
  hls-changed: any of: hls/.*
  rtsp-changed: any of: rtsp/.*
  file-changed: any of: file/.*
  integration-changed: any of: integration_test/.*
  webrtc-to-hls-changed: any of: examples/webrtc_to_hls/.*
  webrtc-videoroom-changed: any of: examples/webrtc_videoroom/.*
