Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).* repo-root-changed true
            engine/.* engine-changed true
            webrtc/.* webrtc-changed true
            hls/.* hls-changed true
            rtsp/.* rtsp-changed true
            file/.* file-changed true
            integration_test/.* integration-changed true
            examples/webrtc_to_hls/.* webrtc-to-hls-changed true
            examples/webrtc_videoroom/.* webrtc-videoroom-changed true

Remove old webrtc stuff
  ex_webrtc/lib/webrtc/connection_allocator.ex
  ex_webrtc/lib/webrtc/connection_allocator/allocation_granted_notification.ex
  ex_webrtc/lib/webrtc/forwarder.ex
  ex_webrtc/lib/webrtc/media_event.ex
  ex_webrtc/lib/webrtc/noop_connection_allocator.ex
  ex_webrtc/lib/webrtc/rtp_connection_allocator.ex
  ex_webrtc/lib/webrtc/rtp_munger.ex
  ex_webrtc/lib/webrtc/rtp_munger/cache.ex
  ex_webrtc/lib/webrtc/simulcast_config.ex
  ex_webrtc/lib/webrtc/track_receiver.ex
  ex_webrtc/lib/webrtc/track_sender.ex
  ex_webrtc/lib/webrtc/variant_selector.ex
  ex_webrtc/lib/webrtc/variant_tracker.ex
  ex_webrtc/lib/webrtc/vp8_munger.ex
  ex_webrtc/lib/webrtc_endpoint.ex
Due: repo-root-changed

Add test for peer connection handler
  engine/mix.exs
  ex_webrtc/mix.lock
  ex_webrtc/test/ex_webrtc/peer_connection_handler_test.exs
Due: repo-root-changed, engine-changed

Fix update track metadata
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: webrtc-changed

Update changelog
  webrtc/CHANGELOG.md
Due: webrtc-changed

Test if stream id is same for audio and video (fails)
  ex_webrtc/test/ex_webrtc/peer_connection_handler_test.exs
Due: repo-root-changed

Refactor handler
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
Due: repo-root-changed

Handle removed tracks
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/test/ex_webrtc/peer_connection_handler_test.exs
  examples/ex_webrtc_videoroom/assets/package-lock.json
  examples/ex_webrtc_videoroom/assets/yarn.lock
Due: repo-root-changed

Fix update track metadata (#408)
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: webrtc-changed

Update deps in example
  examples/ex_webrtc_videoroom/assets/package.json
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/assets/yarn.lock
Due: none

Remove ex_webrtc_integration, format
  .circleci/continue_config.yml
Due: repo-root-changed

Remove comments
  ex_webrtc/lib/ex_webrtc_endpoint.ex
Due: repo-root-changed

Use MediaEvent.decode()
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.lock
  examples/ex_webrtc_videoroom/mix.exs
Due: repo-root-changed

bitrates from media event
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/test/ex_webrtc/media_event_test.exs
  ex_webrtc/test/ex_webrtc/peer_connection_handler_test.exs
Due: repo-root-changed

Fix track ids and stream ids
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  ex_webrtc/test/ex_webrtc/peer_connection_handler_test.exs
  examples/ex_webrtc_videoroom/assets/src/room.ts
Due: repo-root-changed

Mark TODO where appropriate
  ex_webrtc/lib/ex_webrtc_endpoint.ex
Due: repo-root-changed

Add integration test
  .circleci/continue_config.yml
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.exs
  engine/mix.lock
  ex_webrtc/integration_test/docker-compose.yml
  ex_webrtc/integration_test/test_videoroom/.gitignore
  ex_webrtc/integration_test/test_videoroom/assets/.yarnrc.yml
  ex_webrtc/integration_test/test_videoroom/assets/js/room.js
  ex_webrtc/integration_test/test_videoroom/assets/js/stats.js
  ex_webrtc/integration_test/test_videoroom/assets/package-lock.json
  ex_webrtc/integration_test/test_videoroom/assets/package.json
  ex_webrtc/integration_test/test_videoroom/assets/src/index.ts
  ex_webrtc/integration_test/test_videoroom/assets/src/room.ts
  ex_webrtc/integration_test/test_videoroom/assets/src/room_ui.ts
  ex_webrtc/integration_test/test_videoroom/assets/src/stats.ts
  ex_webrtc/integration_test/test_videoroom/assets/src/types.ts
  ex_webrtc/integration_test/test_videoroom/assets/tsconfig.json
  ex_webrtc/integration_test/test_videoroom/assets/yarn.lock
  ex_webrtc/integration_test/test_videoroom/config/config.exs
  ex_webrtc/integration_test/test_videoroom/config/runtime.exs
  ex_webrtc/integration_test/test_videoroom/lib/test_videoroom/room.ex
  ex_webrtc/integration_test/test_videoroom/lib/test_videoroom_web/templates/layout/root.html.heex
  ex_webrtc/integration_test/test_videoroom/lib/test_videoroom_web/templates/page/index.html.heex
  ex_webrtc/integration_test/test_videoroom/mix.exs
  ex_webrtc/integration_test/test_videoroom/mix.lock
  ex_webrtc/integration_test/test_videoroom/test/integration/basic_test.exs
  ex_webrtc/integration_test/test_videoroom/test/integration/metadata_test.exs
  ex_webrtc/integration_test/test_videoroom/test/integration/simulcast_test_off.exs
  ex_webrtc/integration_test/test_videoroom/test/support/mustang.ex
  webrtc/CHANGELOG.md
  webrtc/integration_test/test_videoroom/assets/.yarnrc.yml
  webrtc/integration_test/test_videoroom/assets/package-lock.json
  webrtc/integration_test/test_videoroom/assets/yarn.lock
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed

Make integration tests work
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  ex_webrtc/test/ex_webrtc/peer_connection_handler_test.exs
Due: repo-root-changed

Archive repository
  README.md
Due: repo-root-changed

Update CODEOWNERS
  .github/CODEOWNERS
Due: repo-root-changed

Archive repository (#410)
  README.md
Due: repo-root-changed
