Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

Fix dialyzer issues
  engine/lib/membrane_rtc_engine/engine.ex
  hls/lib/hls_endpoint.ex
  recording/lib/recording_endpoint.ex
  sip/lib/sip_endpoint.ex
  webrtc/lib/webrtc_endpoint.ex
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed

Update docs of Engine.subscribe/4
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

RTC-504 RecordingEndpoint sends finished action after all input tracks unlink (#381)
  engine/CHANGELOG.md
  engine/guides/custom_endpoints.md
  engine/lib/membrane_rtc_engine/engine.ex
  hls/CHANGELOG.md
  hls/lib/hls_endpoint.ex
  integration_test/test/fixtures/two_seconds.h264
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  sip/CHANGELOG.md
  sip/lib/sip_endpoint.ex
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc_endpoint.ex
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, integration-changed

Add subscriptions modules
  engine/lib/membrane_rtc_engine/subscriptions/automatic.ex
  engine/lib/membrane_rtc_engine/subscriptions/manual.ex
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
  engine/test/membrane_rtc_engine/subscriptions_test.exs
Due: engine-changed

Use Subscriptions modules in HLS and Recording endpoints
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
  hls/lib/hls_endpoint.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, engine-changed, hls-changed

Use Subscriptions modules in SIP Endpoint
  engine/test/membrane_rtc_engine/subscriptions_test.exs
  hls/lib/hls_endpoint.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed, hls-changed

Fix credo issues
  engine/lib/membrane_rtc_engine/subscriptions/automatic.ex
  engine/lib/membrane_rtc_engine/subscriptions/manual.ex
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
  engine/test/membrane_rtc_engine/subscriptions_test.exs
Due: engine-changed

Update changelog
  engine/CHANGELOG.md
  hls/CHANGELOG.md
  recording/CHANGELOG.md
  sip/CHANGELOG.md
Due: repo-root-changed, engine-changed, hls-changed

Fix typo
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Update recording/lib/recording_endpoint.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Add tests for manual_subscribe mode in recording_endpoint_test.exs
  integration_test/test/recording_endpoint_test.exs
Due: integration-changed

Add docs for Subscriber
  engine/lib/membrane_rtc_engine/subscriber.ex
Due: engine-changed

Update engine/lib/membrane_rtc_engine/subscriber.ex
  engine/lib/membrane_rtc_engine/subscriber.ex
Due: engine-changed

Return behaviour in Subscriptions.State
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
Due: engine-changed

Don't use latest docker_membrane
  .circleci/continue_config.yml
  engine/lib/membrane_rtc_engine/subscriber.ex
Due: repo-root-changed, engine-changed

Fix bug with not_found_endpoints in manual.ex
  engine/lib/membrane_rtc_engine/subscriber/manual.ex
Due: engine-changed

Fix behaviour in Subscriptions.Automatic and Subscriptions.Manual
  engine/lib/membrane_rtc_engine/subscriptions/automatic.ex
  engine/lib/membrane_rtc_engine/subscriptions/manual.ex
Due: engine-changed

Fix typespec
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
Due: engine-changed

Set docker_membrane in CI to latest
  .circleci/continue_config.yml
  .gitignore
Due: repo-root-changed

Don't access directly fields of struct
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
  hls/lib/hls_endpoint.ex
  recording/lib/recording_endpoint.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed, hls-changed

Rename subscriptions to subscriber
  engine/lib/membrane_rtc_engine/subscriber.ex
  engine/lib/membrane_rtc_engine/subscriber/automatic.ex
  engine/lib/membrane_rtc_engine/subscriber/manual.ex
  engine/test/membrane_rtc_engine/subscriber_test.exs
  hls/lib/hls_endpoint.ex
  recording/lib/recording_endpoint.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed, hls-changed

Fix formatting
  hls/lib/hls_endpoint.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, hls-changed

Fix leftover
  engine/lib/membrane_rtc_engine/subscriptions/automatic.ex
Due: engine-changed

Bump docker_membrane in circleci config
  .circleci/continue_config.yml
  engine/lib/membrane_rtc_engine/subscriptions/state.ex
Due: repo-root-changed, engine-changed

Fix missing renames
  hls/lib/hls_endpoint.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, hls-changed

Adjust subscriber
  engine/lib/membrane_rtc_engine/subscriber.ex
Due: engine-changed

Make storages consistent in recording endpoint
  integration_test/test/recording_endpoint_test.exs
  recording/lib/recording_endpoint.ex
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

RTC-510 Manual subscribe mode (#383)
  .gitignore
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/subscriber.ex
  engine/lib/membrane_rtc_engine/subscriber/automatic.ex
  engine/lib/membrane_rtc_engine/subscriber/manual.ex
  engine/test/membrane_rtc_engine/subscriber_test.exs
  hls/CHANGELOG.md
  hls/lib/hls_endpoint.ex
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
  sip/CHANGELOG.md
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed, hls-changed, integration-changed

Update mix.exs
  recording/mix.exs
Due: repo-root-changed

Update CHANGELOG.md
  recording/CHANGELOG.md
Due: repo-root-changed

Fix `membrane_core` version used in recording (#385)
  recording/CHANGELOG.md
  recording/mix.exs
Due: repo-root-changed

Add Application and TaskSupervisor in RecordingEndpoint
  recording/lib/application.ex
  recording/lib/recording_endpoint.ex
  recording/mix.exs
Due: repo-root-changed

Update changelog
  recording/CHANGELOG.md
Due: repo-root-changed

Add Application and TaskSupervisor in RecordingEndpoint (#386)
  recording/CHANGELOG.md
  recording/lib/application.ex
  recording/lib/recording_endpoint.ex
  recording/mix.exs
Due: repo-root-changed

Path conditions:
  repo-root-changed: any of: (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).*
  engine-changed: any of: engine/.*
  webrtc-changed: any of: webrtc/.*
  hls-changed: any of: hls/.*
  rtsp-changed: any of: rtsp/.*
  file-changed: any of: file/.*
  integration-changed: any of: integration_test/.*
  webrtc-to-hls-changed: any of: examples/webrtc_to_hls/.*
  webrtc-videoroom-changed: any of: examples/webrtc_videoroom/.*
