Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).* repo-root-changed true
            engine/.* engine-changed true
            webrtc/.* webrtc-changed true
            hls/.* hls-changed true
            rtsp/.* rtsp-changed true
            file/.* file-changed true
            integration_test/.* integration-changed true
            examples/webrtc_to_hls/.* webrtc-to-hls-changed true
            examples/webrtc_videoroom/.* webrtc-videoroom-changed true

Add sippet application
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed

Add configs and clean deps
  engine/config/config.exs
  engine/mix.lock
  file/config/config.exs
  integration_test/config/config.exs
  integration_test/mix.lock
Due: engine-changed, file-changed, integration-changed

Proxy auth
  sip/lib/sip/call.ex
  sip/lib/sip/register_call.ex
Due: repo-root-changed

Handle call declined
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

cosmetic
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Fix SIP tests
  .circleci/continue_config.yml
  file/test/support/file_sink_endpoint.ex
  sip/docker-compose-test.yaml
  sip/mix.lock
Due: repo-root-changed, file-changed

Add finished endpoint notification
  engine/lib/membrane_rtc_engine/engine.ex
  file/lib/file_source_endpoint.ex
  file/mix.lock
  file/test/file_endpoint_test.exs
  file/test/support/file_sink_endpoint.ex
Due: engine-changed, file-changed

Add state typespecs, kill children when finished
  sip/lib/sip/call.ex
  sip/lib/sip/call/headers.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Remove Opentelemetry
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/utils.ex
  engine/mix.exs
  engine/mix.lock
Due: engine-changed

Handle timeouts
  sip/lib/sip/call.ex
Due: repo-root-changed

Add test case for multiple SIP Endpoints
  sip/mix.exs
  sip/test/sip_test.exs
Due: repo-root-changed

Lock deps, cosmetic changes in PortAllocator
  sip/lib/sip/port_allocator.ex
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed

Update integration_test deps
  sip/lib/sip/call.ex
Due: repo-root-changed

Handle busy
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip/sippet_core.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Handle parent_notification endpoint_removed in SIPEndpoint
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Maybe fix CallTest on CI
  sip/test/sip/call_test.exs
Due: repo-root-changed

Remove g711 from element names
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed

Fix funnel
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Fixing tests
  engine/lib/membrane_rtc_engine/engine.ex
  sip/asterisk/config/extensions.conf
  sip/asterisk/config/startup.sh
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip/port_allocator.ex
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
  sip/test/sip_test.exs
Due: repo-root-changed, engine-changed

SIP Endpoint dials only in state playing
  sip/lib/sip_endpoint.ex
  sip/test/sip_test.exs
Due: repo-root-changed

Fix cancels removing invites from pending reqs
  sip/lib/sip/call.ex
  sip/test/sip/call_test.exs
Due: repo-root-changed

Even more tests
  sip/lib/sip/outgoing_call.ex
  sip/test/sip/call_test.exs
  sip/test/sip/outgoing_call_test.exs
Due: repo-root-changed

More tests
  sip/test/sip/call_test.exs
Due: repo-root-changed

update mix.exs
  sip/mix.exs
Due: repo-root-changed

Ignore new TrackNotification message
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Fix tests
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip/port_allocator.ex
Due: repo-root-changed

Add more tests
  engine/lib/membrane_rtc_engine/engine.ex
  sip/asterisk/config/extensions.conf
  sip/asterisk/config/voicemail.conf
  sip/asterisk/sounds/audio0_short.alaw
  sip/asterisk/sounds/audio1_long.alaw
  sip/asterisk/sounds/audio1_short.alaw
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
  sip/test/fixtures/audio0_short.aac
  sip/test/sip_test.exs
Due: repo-root-changed, engine-changed

Change handle_crash_group_down
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Remove useless fun
  sip/lib/sip/port_allocator.ex
  sip/lib/sip/sippet_core.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Fix target and route in make_request
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

Add handle_terminate_request in SIPEndpoint
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Fixes, PortAllocator tests
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
  sip/test/sip/port_allocator_test.exs
  sip/test/sip_test.exs
Due: repo-root-changed

Add fixtures
  sip/.gitignore
  sip/asterisk/recordings/my-file-in.alaw
  sip/asterisk/recordings/my-file-out.alaw
  sip/test/fixtures/audio0.aac
  sip/test/fixtures/audio1.aac
  sip/test/fixtures/audio2.aac
  sip/test/fixtures/audio3.aac
  sip/test/fixtures/audio4.aac
  sip/test/fixtures/audio5.aac
  sip/test/fixtures/audio6.aac
Due: repo-root-changed

UT for timeouts
  sip/test/sip/call_test.exs
Due: repo-root-changed

Add some docs
  sip/README.md
  sip/internal_docs/sip_endpoint.md
  sip/lib/sip_endpoint.ex
  sip/mix.exs
Due: repo-root-changed

Lint, fix test
  sip/lib/sip/port_allocator.ex
  sip/lib/sip_endpoint.ex
  sip/test/sip_test.exs
Due: repo-root-changed

Handle routing
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Add proper removing children in handle_remove_pad
  engine/lib/membrane_rtc_engine/engine.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed

lint
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/test/sip_test.exs
Due: repo-root-changed

Add test cases
  sip/asterisk/config/extensions.conf
  sip/asterisk/config/sip.conf.template
  sip/lib/sip/port_allocator.ex
  sip/lib/sip_endpoint.ex
  sip/test/sip_test.exs
Due: repo-root-changed
