Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

Handle requsting incorrect simulcast variant
  engine/config/config.exs
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/exception.ex
  engine/lib/membrane_rtc_engine/tees/tee.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  engine/test/membrane_rtc_engine/tee_test.exs
Due: engine-changed

Fix get_forwarded_tracks
  engine/lib/membrane_rtc_engine/engine.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  engine/test/support/fake_endpoint.ex
  engine/test/support/fake_source_endpoint.ex
Due: engine-changed

Add changelog note
  engine/CHANGELOG.md
  engine/config/config.exs
  engine/lib/membrane_rtc_engine/engine.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  engine/test/support/fake_endpoint.ex
  engine/test/support/fake_source_endpoint.ex
Due: engine-changed

Update engine/lib/membrane_rtc_engine/tees/tee.ex
  engine/lib/membrane_rtc_engine/tees/tee.ex
Due: engine-changed

Apply suggestions from review
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

RTC 445 - Engine shouldn't raise when requesting incorrect simulcast variant (#351)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/exception.ex
  engine/lib/membrane_rtc_engine/tees/tee.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  engine/test/membrane_rtc_engine/tee_test.exs
  engine/test/support/fake_source_endpoint.ex
Due: engine-changed

Update changelog job
  .circleci/continue_config.yml
Due: repo-root-changed

Changelog
  file/CHANGELOG.md
Due: file-changed

[RTC-435] Notify on endpoint and track metadata updates (#354)
  .circleci/continue_config.yml
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/message.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  file/CHANGELOG.md
  file/lib/file_source_endpoint.ex
Due: repo-root-changed, engine-changed, file-changed

Rename functions to be compliant with elixir style guide
  engine/.credo.exs
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/track.ex
  webrtc/.credo.exs
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc/rtp_connection_allocator.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/test/webrtc/track_sender_test.exs
Due: engine-changed, webrtc-changed

Rename functions to be compliant with elixir style guide (#349)
  engine/.credo.exs
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/track.ex
  webrtc/.credo.exs
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc/rtp_connection_allocator.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/test/webrtc/track_sender_test.exs
Due: engine-changed, webrtc-changed

Support trackEncodingEnabled and trackEncodingDisabled media events
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/endpoint.ex
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/track.ex
  webrtc/CHANGELOG.md
  webrtc/integration_test/test_videoroom/assets/js/room.js
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

Fix integration tests
  webrtc/integration_test/test_videoroom/assets/js/room.js
  webrtc/integration_test/test_videoroom/assets/js/stats.js
  webrtc/integration_test/test_videoroom/assets/package-lock.json
  webrtc/integration_test/test_videoroom/assets/package.json
  webrtc/integration_test/test_videoroom/mix.lock
  webrtc/integration_test/test_videoroom/package-lock.json
  webrtc/integration_test/test_videoroom/test/integration/basic_test.exs
  webrtc/mix.exs
Due: webrtc-changed

Update package-lock.json
  webrtc/integration_test/test_videoroom/assets/package-lock.json
Due: webrtc-changed

Add test for notification related to changing track encoding
  engine/CHANGELOG.md
  engine/test/membrane_rtc_engine/engine_test.exs
  webrtc/CHANGELOG.md
Due: engine-changed, webrtc-changed

Modify assets code
  webrtc/integration_test/test_videoroom/assets/js/stats.js
  webrtc/integration_test/test_videoroom/test/support/mustang.ex
  webrtc/mix.lock
Due: webrtc-changed

Increase timeout
  webrtc/integration_test/test_videoroom/mix.lock
  webrtc/integration_test/test_videoroom/test/support/mustang.ex
Due: webrtc-changed

Remove reference to branch in deps
  webrtc/mix.exs
Due: webrtc-changed

Rename mediaEvents related to turning on/off simulcast layers
  engine/lib/membrane_rtc_engine/engine.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  webrtc/integration_test/test_videoroom/assets/js/stats.js
  webrtc/integration_test/test_videoroom/assets/package-lock.json
  webrtc/internal_docs/webrtc_media_events.md
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

Add log in :message_endpoint handler
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Add disabledEncodings field in track_info
  webrtc/integration_test/test_videoroom/assets/package-lock.json
  webrtc/internal_docs/webrtc_media_events.md
  webrtc/lib/webrtc/media_event.ex
  webrtc/mix.lock
Due: webrtc-changed

Add inspect in :message_endpoint handler
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Fixes after review
  engine/lib/membrane_rtc_engine/engine.ex
  webrtc/integration_test/test_videoroom/assets/js/stats.js
Due: engine-changed, webrtc-changed

Update package.json
  webrtc/integration_test/test_videoroom/assets/package-lock.json
  webrtc/integration_test/test_videoroom/assets/package.json
  webrtc/integration_test/test_videoroom/test/support/mustang.ex
Due: webrtc-changed

Fixes
  webrtc/integration_test/test_videoroom/assets/js/room.js
  webrtc/integration_test/test_videoroom/test/support/mustang.ex
Due: webrtc-changed

RTC-446 Notify turn off simulcast layer (#352)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/endpoint.ex
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/track.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  webrtc/CHANGELOG.md
  webrtc/integration_test/test_videoroom/assets/js/room.js
  webrtc/integration_test/test_videoroom/assets/js/stats.js
  webrtc/integration_test/test_videoroom/assets/package-lock.json
  webrtc/integration_test/test_videoroom/assets/package.json
  webrtc/integration_test/test_videoroom/mix.lock
  webrtc/integration_test/test_videoroom/package-lock.json
  webrtc/integration_test/test_videoroom/test/integration/basic_test.exs
  webrtc/integration_test/test_videoroom/test/support/mustang.ex
  webrtc/internal_docs/webrtc_media_events.md
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: engine-changed, webrtc-changed

[RTC-455] Fix multiple RCs when removing tracks quickly
  engine/lib/membrane_rtc_engine/engine.ex
  webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

changelogs
  engine/CHANGELOG.md
  webrtc/CHANGELOG.md
Due: engine-changed, webrtc-changed

Fix typo again
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

review fixes
  engine/lib/membrane_rtc_engine/engine.ex
  webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

a
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

[RTC-455] Fix multiple RCs when removing tracks quickly (#358)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

Fix sender not sending eos until keyframe
  engine/lib/membrane_rtc_engine/static_track_sender.ex
Due: engine-changed

changelog
  engine/CHANGELOG.md
Due: engine-changed

Add log
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Add traces in hls cleanup test
  integration_test/test/hls_endpoint_test.exs
Due: integration-changed

Fix tests
  file/mix.lock
  file/test/file_endpoint_test.exs
  integration_test/test/hls_endpoint_test.exs
Due: file-changed, integration-changed

Add new option in FileEndpoint
  engine/lib/membrane_rtc_engine/static_track_sender.ex
  engine/test/support/fake_source_endpoint.ex
  file/lib/file_source_endpoint.ex
  integration_test/docker-compose-test.yaml
  integration_test/test/hls_endpoint_test.exs
Due: engine-changed, file-changed, integration-changed

Fix File endpoint tests
  file/CHANGELOG.md
  file/mix.lock
  file/test/file_endpoint_test.exs
Due: file-changed

Increase timeout
  integration_test/test/hls_endpoint_test.exs
Due: integration-changed

Path conditions:
  repo-root-changed: any of: (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).*
  engine-changed: any of: engine/.*
  webrtc-changed: any of: webrtc/.*
  hls-changed: any of: hls/.*
  rtsp-changed: any of: rtsp/.*
  file-changed: any of: file/.*
  integration-changed: any of: integration_test/.*
  webrtc-to-hls-changed: any of: examples/webrtc_to_hls/.*
  webrtc-videoroom-changed: any of: examples/webrtc_videoroom/.*
