Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).* repo-root-changed true
            engine/.* engine-changed true
            webrtc/.* webrtc-changed true
            hls/.* hls-changed true
            rtsp/.* rtsp-changed true
            file/.* file-changed true
            integration_test/.* integration-changed true
            examples/webrtc_to_hls/.* webrtc-to-hls-changed true
            examples/webrtc_videoroom/.* webrtc-videoroom-changed true

Recording: add edge timestamp saver tests
  recording/lib/edge_timestamp_saver.ex
  recording/lib/reporter.ex
  recording/test/edge_timestamp_saver_test.exs
  recording/test/reporter_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed

Update rtp plugin
  engine/mix.exs
  integration_test/mix.exs
  rtsp/mix.exs
  sip/mix.exs
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, rtsp-changed, integration-changed

Update rtp plugin
  engine/mix.exs
  engine/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  recording/mix.lock
  recording/test/edge_timestamp_saver_test.exs
  rtsp/mix.exs
  rtsp/mix.lock
  sip/mix.exs
  sip/mix.lock
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, rtsp-changed, integration-changed

Update edge timestamper tests
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Change requests
  recording/test/edge_timestamp_saver_test.exs
  recording/test/reporter_test.exs
Due: repo-root-changed

Rtcp sender packet event (#393)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/tees/tee.ex
  engine/mix.exs
  engine/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/lib/reporter.ex
  recording/mix.lock
  recording/test/edge_timestamp_saver_test.exs
  recording/test/reporter_test.exs
  recording/test/support/mock_track.ex
  rtsp/CHANGELOG.md
  rtsp/lib/rtsp/connection_manager.ex
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/endpoint_bin/extension/mid.ex
  webrtc/lib/endpoint_bin/extension/repaired_rid.ex
  webrtc/lib/endpoint_bin/extension/rid.ex
  webrtc/lib/endpoint_bin/extension/twcc.ex
  webrtc/lib/endpoint_bin/extension/vad.ex
  webrtc/lib/endpoint_bin/sdp.ex
  webrtc/lib/endpoint_bin/track.ex
  webrtc/lib/webrtc/forwarder.ex
  webrtc/lib/webrtc/rtp_munger.ex
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/mix.exs
  webrtc/mix.lock
  webrtc/test/endpoint_bin/endpoint_bin_test.exs
Due: repo-root-changed, engine-changed, webrtc-changed, rtsp-changed, integration-changed

Track unmute event
  webrtc/internal_docs/webrtc_media_events.md
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/lib/webrtc/variant_selector.ex
  webrtc/lib/webrtc/variant_tracker.ex
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Mute track
  .gitignore
  engine/lib/membrane_rtc_engine/events/track_variant_paused.ex
  webrtc/internal_docs/webrtc_media_events.md
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/lib/webrtc/variant_selector.ex
  webrtc/lib/webrtc/variant_tracker.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed

Fix ci
  engine/test/membrane_rtc_engine/tee_test.exs
  integration_test/mix.exs
  integration_test/mix.lock
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/variant_tracker.ex
  webrtc/test/webrtc/variant_selector_test.exs
Due: engine-changed, webrtc-changed, integration-changed

Add test
  webrtc/test/webrtc/variant_selector_test.exs
Due: webrtc-changed

Remove unnecessary sorting
  webrtc/lib/webrtc/track_sender.ex
Due: webrtc-changed

Changelog
  engine/CHANGELOG.md
  webrtc/CHANGELOG.md
Due: engine-changed, webrtc-changed

Fix test
  webrtc/test/webrtc/variant_selector_test.exs
Due: webrtc-changed

Improve doc
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/lib/webrtc/variant_selector.ex
Due: webrtc-changed

Revert function
  integration_test/.gitignore
  integration_test/mix.lock
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/variant_selector.ex
Due: webrtc-changed, integration-changed

Improve docs
  engine/lib/membrane_rtc_engine/events/track_variant_paused.ex
  webrtc/README.md
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/variant_selector.ex
Due: engine-changed, webrtc-changed

[RTC-477] Allow for muting tracks without renegotiation (#392)
  .gitignore
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/events/track_variant_paused.ex
  engine/test/membrane_rtc_engine/tee_test.exs
  integration_test/.gitignore
  integration_test/mix.exs
  integration_test/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/internal_docs/webrtc_media_events.md
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/lib/webrtc/variant_selector.ex
  webrtc/lib/webrtc/variant_tracker.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.exs
  webrtc/test/webrtc/variant_selector_test.exs
Due: repo-root-changed, engine-changed, webrtc-changed, integration-changed

Update videoroom demo readme (#395)
  examples/webrtc_videoroom/README.md
Due: webrtc-videoroom-changed

Recording: synchronize tracks based on the last rtcp sender report
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Recording: synchronize tracks based on the last rtcp sender report (#397)
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Format
  examples/webrtc_to_hls/mix.lock
  examples/webrtc_videoroom/mix.exs
  examples/webrtc_videoroom/mix.lock
Due: webrtc-to-hls-changed, webrtc-videoroom-changed

Update video room
  examples/webrtc_videoroom/README.md
  examples/webrtc_videoroom/assets/package-lock.json
  examples/webrtc_videoroom/assets/package.json
  examples/webrtc_videoroom/assets/src/room.ts
  examples/webrtc_videoroom/mix.exs
  examples/webrtc_videoroom/mix.lock
Due: webrtc-videoroom-changed

Update webrtc_to_hls
  examples/webrtc_to_hls/README.md
  examples/webrtc_to_hls/assets/package-lock.json
  examples/webrtc_to_hls/assets/package.json
  examples/webrtc_to_hls/assets/src/app.ts
  examples/webrtc_to_hls/mix.exs
  examples/webrtc_to_hls/mix.lock
  examples/webrtc_to_hls/package-lock.json
Due: webrtc-to-hls-changed

Add fix in guard.ex
  recording/lib/guard.ex
Due: repo-root-changed

Update changelog
  recording/CHANGELOG.md
Due: repo-root-changed

Update close_stores
  recording/lib/guard.ex
Due: repo-root-changed

Add changelog for webrtc endpoint
  webrtc/CHANGELOG.md
Due: webrtc-changed

Modify rtp_connection_allocator
  webrtc/lib/webrtc/rtp_connection_allocator.ex
Due: webrtc-changed

Update recording/CHANGELOG.md
  recording/CHANGELOG.md
Due: repo-root-changed

Update webrtc/CHANGELOG.md
  webrtc/CHANGELOG.md
Due: webrtc-changed

Update examples/webrtc_to_hls/README.md
  examples/webrtc_to_hls/README.md
Due: webrtc-to-hls-changed

Apply suggestions from code review
  examples/webrtc_to_hls/README.md
  examples/webrtc_videoroom/README.md
Due: webrtc-to-hls-changed, webrtc-videoroom-changed

Update examples (#398)
  examples/webrtc_to_hls/README.md
  examples/webrtc_to_hls/assets/package-lock.json
  examples/webrtc_to_hls/assets/package.json
  examples/webrtc_to_hls/assets/src/app.ts
  examples/webrtc_to_hls/mix.exs
  examples/webrtc_to_hls/mix.lock
  examples/webrtc_to_hls/package-lock.json
  examples/webrtc_videoroom/README.md
  examples/webrtc_videoroom/assets/package-lock.json
  examples/webrtc_videoroom/assets/package.json
  examples/webrtc_videoroom/assets/src/room.ts
  examples/webrtc_videoroom/mix.exs
  examples/webrtc_videoroom/mix.lock
Due: webrtc-to-hls-changed, webrtc-videoroom-changed

Add logs and dumps to observe switching variants
  webrtc/lib/validator.ex
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.exs
  webrtc/mix.lock
Due: webrtc-changed

Change mox expect to stub
  integration_test/test/recording_endpoint_test.exs
Due: integration-changed

Don't list S3 object if no files added in recording (#396)
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/guard.ex
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc/rtp_connection_allocator.ex
Due: repo-root-changed, webrtc-changed, integration-changed

temp
  engine/mix.exs
  ex_webrtc/.formatter.exs
  ex_webrtc/.gitignore
  ex_webrtc/README.md
  ex_webrtc/config/config.exs
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  ex_webrtc/test/test_helper.exs
Due: repo-root-changed, engine-changed

Refactor rtcp synchronization
  recording/lib/edge_timestamp_saver.ex
  recording/lib/reporter.ex
  recording/test/edge_timestamp_saver_test.exs
  recording/test/reporter_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed

Fix tests
  recording/lib/reporter.ex
  recording/test/edge_timestamp_saver_test.exs
  recording/test/reporter_test.exs
Due: repo-root-changed
