Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

Increase resource class
  .circleci/continue_config.yml
Due: repo-root-changed

Small modifications
  .circleci/continue_config.yml
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/static_track_sender.ex
  file/CHANGELOG.md
  file/test/file_endpoint_test.exs
  integration_test/test/hls_endpoint_test.exs
Due: repo-root-changed, engine-changed, file-changed, integration-changed

Add removed code
  integration_test/docker-compose-test.yaml
  integration_test/test/hls_endpoint_test.exs
Due: integration-changed

Fixes after review
  engine/lib/membrane_rtc_engine/static_track_sender.ex
  file/lib/file_source_endpoint.ex
  file/mix.lock
  file/test/file_endpoint_test.exs
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/sip_endpoint_test.exs
Due: engine-changed, file-changed, integration-changed

Update integration_test/test/recording_endpoint_test.exs
  integration_test/test/recording_endpoint_test.exs
Due: integration-changed

Format Recording Endpoint
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Update recording/lib/recording_endpoint.ex
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Update .circleci/continue_config.yml
  .circleci/continue_config.yml
Due: repo-root-changed

Update recording/README.md
  recording/README.md
Due: repo-root-changed

Add recording endpoint
  file/lib/file_source_endpoint.ex
  integration_test/mix.exs
  integration_test/test/fixtures/recorded_video.h264
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/deserializer.ex
  integration_test/test/support/file_endpont_generator.ex
  recording/.credo.exs
  recording/.formatter.exs
  recording/.gitignore
  recording/CHANGELOG.md
  recording/LICENSE
  recording/README.md
  recording/lib/recording_endpoint.ex
  recording/lib/reporter.ex
  recording/lib/storage.ex
  recording/lib/storage/config.ex
  recording/lib/storage/file.ex
  recording/mix.exs
  recording/mix.lock
  recording/test/reporter_test.exs
  recording/test/storage/file_test.exs
  recording/test/support/mock_track.ex
  recording/test/test_helper.exs
Due: repo-root-changed, file-changed, integration-changed

Format File Endpoint
  file/CHANGELOG.md
  file/lib/file_source_endpoint.ex
  file/mix.lock
  recording/CHANGELOG.md
Due: repo-root-changed, file-changed

Add CI for recording endpoint
  .circleci/config.yml
  .circleci/continue_config.yml
Due: repo-root-changed

Update recording/LICENSE
  recording/LICENSE
Due: repo-root-changed

Fix formatter
  recording/test/storage/file_test.exs
Due: repo-root-changed

Requested changes
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/deserializer.ex
  integration_test/test/support/file_endpont_generator.ex
  recording/lib/recording_endpoint.ex
  recording/lib/reporter.ex
  recording/lib/storage.ex
  recording/lib/storage/config.ex
  recording/lib/storage/file.ex
  recording/test/storage/file_test.exs
Due: repo-root-changed, integration-changed

Add working aws storage
  integration_test/mix.exs
  integration_test/mix.lock
  integration_test/test/recording_endpoint_test.exs
  recording/lib/storage/s3.ex
  recording/lib/storage/s3/sink.ex
  recording/mix.exs
  recording/mix.lock
Due: repo-root-changed, integration-changed

Update file/lib/file_source_endpoint.ex
  file/lib/file_source_endpoint.ex
Due: file-changed

Rename 'start_sending' to 'playback_mode'
  file/CHANGELOG.md
  file/lib/file_source_endpoint.ex
  file/test/file_endpoint_test.exs
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/sip_endpoint_test.exs
Due: file-changed, integration-changed

Fix hls manual tests
  integration_test/test/hls_endpoint_test.exs
Due: integration-changed

Release engine 0.21.0
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/mix.exs
  engine/mix.lock
  file/CHANGELOG.md
  file/README.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/README.md
  hls/mix.exs
  hls/mix.lock
  rtsp/CHANGELOG.md
  rtsp/README.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/README.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Fix linter
  integration_test/mix.exs
  integration_test/test/recording_endpoint_test.exs
  recording/lib/storage/s3.ex
Due: repo-root-changed, integration-changed

Fix sender not sending eos until keyframe (#357)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/static_track_sender.ex
  engine/test/support/fake_source_endpoint.ex
  file/CHANGELOG.md
  file/lib/file_source_endpoint.ex
  file/mix.lock
  file/test/file_endpoint_test.exs
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/sip_endpoint_test.exs
Due: engine-changed, file-changed, integration-changed

Fix dialyzer
  recording/lib/storage/s3/sink.ex
Due: repo-root-changed

Update recording changelog
  recording/CHANGELOG.md
Due: repo-root-changed

[RTC-482] Automate releases
  .gitignore
  release.sh
Due: repo-root-changed

Update branch names
  release.sh
Due: repo-root-changed

Include in tags
  release.sh
Due: repo-root-changed

Format File Endpoint
  file/CHANGELOG.md
  recording/CHANGELOG.md
Due: repo-root-changed, file-changed

Path conditions:
  repo-root-changed: any of: (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).*
  engine-changed: any of: engine/.*
  webrtc-changed: any of: webrtc/.*
  hls-changed: any of: hls/.*
  rtsp-changed: any of: rtsp/.*
  file-changed: any of: file/.*
  integration-changed: any of: integration_test/.*
  webrtc-to-hls-changed: any of: examples/webrtc_to_hls/.*
  webrtc-videoroom-changed: any of: examples/webrtc_videoroom/.*
