Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: engine-changed, webrtc-changed, hls-changed, rtsp-changed, integration-changed

Add credo config to new packages
  membrane_rtc_engine_hls/.credo.exs
  membrane_rtc_engine_rtsp/.credo.exs
  membrane_rtc_engine_webrtc/.credo.exs
Due: webrtc-changed, hls-changed, rtsp-changed

Update readme
  membrane_rtc_engine/README.md
Due: engine-changed

Update doc paths
  membrane_rtc_engine_webrtc/mix.exs
Due: webrtc-changed

Update readme
  README.md
Due: engine-changed

Add missing callback in WebRTC endpoint
  lib/membrane_rtc_engine/endpoints/webrtc_endpoint.ex
Due: engine-changed

Add handle_child_pad_removed callback (#299)
  lib/membrane_rtc_engine/endpoints/webrtc_endpoint.ex
  lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Remove unnecessary handle_child_pad_removed in webrtc_endpoint
  lib/membrane_rtc_engine/endpoints/webrtc_endpoint.ex
Due: engine-changed

Bump version to 0.15.1
  README.md
  mix.exs
Due: engine-changed

Add fix from 0.15.1, update docker image, fix href
  .circleci/continue_config.yml
  membrane_rtc_engine/guides/custom_endpoints.md
  membrane_rtc_engine/lib/membrane_rtc_engine/engine.ex
  membrane_rtc_engine_webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

fix dependencies
  membrane_rtc_engine_hls/lib/hls/config/audio_mixer_config.ex
  membrane_rtc_engine_hls/lib/hls/config/compositor_config.ex
  membrane_rtc_engine_hls/mix.exs
Due: hls-changed

fix dependencies (#301)
  membrane_rtc_engine_hls/lib/hls/config/audio_mixer_config.ex
  membrane_rtc_engine_hls/lib/hls/config/compositor_config.ex
  membrane_rtc_engine_hls/mix.exs
Due: hls-changed

Add fix from 0.15.1, update docker image, fix href
  .circleci/continue_config.yml
  membrane_rtc_engine/guides/custom_endpoints.md
  membrane_rtc_engine_webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed

Add upgrade guide to v0.16.0
  membrane_rtc_engine/guides/upgrading/v0.16.md
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine/mix.lock
Due: engine-changed

Lock package versions for release
  integration_test/mix.lock
  membrane_rtc_engine/README.md
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine/mix.lock
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_hls/mix.lock
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_rtsp/mix.lock
  membrane_rtc_engine_webrtc/mix.exs
  membrane_rtc_engine_webrtc/mix.lock
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed, integration-changed

Update lockfiles
  membrane_rtc_engine_hls/mix.lock
  membrane_rtc_engine_rtsp/mix.lock
  membrane_rtc_engine_webrtc/mix.lock
Due: webrtc-changed, hls-changed, rtsp-changed

Override packages in tests
  integration_test/mix.exs
  integration_test/mix.lock
  membrane_rtc_engine_webrtc/integration_test/test_videoroom/mix.exs
Due: webrtc-changed, integration-changed

Update docs
  membrane_rtc_engine/lib/membrane_rtc_engine/endpoint.ex
  membrane_rtc_engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Release v0.16.0 (#302)
  integration_test/mix.exs
  integration_test/mix.lock
  membrane_rtc_engine/README.md
  membrane_rtc_engine/guides/upgrading/v0.16.md
  membrane_rtc_engine/lib/membrane_rtc_engine/endpoint.ex
  membrane_rtc_engine/lib/membrane_rtc_engine/engine.ex
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine/mix.lock
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_hls/mix.lock
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_rtsp/mix.lock
  membrane_rtc_engine_webrtc/integration_test/test_videoroom/mix.exs
  membrane_rtc_engine_webrtc/mix.exs
  membrane_rtc_engine_webrtc/mix.lock
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed, integration-changed

Post-release changes, doc fixes
  integration_test/mix.exs
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine_hls/README.md
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_rtsp/README.md
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_webrtc/README.md
  membrane_rtc_engine_webrtc/integration_test/test_videoroom/mix.exs
  membrane_rtc_engine_webrtc/mix.exs
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed, integration-changed

Change Engine source ref to `engine-vX.Y.Z`
  membrane_rtc_engine/mix.exs
Due: engine-changed

Post-release changes, doc fixes (#303)
  integration_test/mix.exs
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine_hls/README.md
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_rtsp/README.md
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_webrtc/README.md
  membrane_rtc_engine_webrtc/integration_test/test_videoroom/mix.exs
  membrane_rtc_engine_webrtc/mix.exs
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed, integration-changed

Add changelogs, enforce changelog updates
  .circleci/continue_config.yml
  membrane_rtc_engine/CHANGELOG.md
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine_hls/CHANGELOG.md
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_rtsp/CHANGELOG.md
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_webrtc/CHANGELOG.md
  membrane_rtc_engine_webrtc/mix.exs
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed

Add changelogs, enforce changelog updates (#304)
  .circleci/continue_config.yml
  membrane_rtc_engine/CHANGELOG.md
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine_hls/CHANGELOG.md
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_rtsp/CHANGELOG.md
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_webrtc/CHANGELOG.md
  membrane_rtc_engine_webrtc/mix.exs
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed

Fix CI changelog checks always failing on master
  .circleci/config.yml
  .circleci/continue_config.yml
Due: engine-changed

Fix CI changelog checks always failing on master (#305)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: engine-changed

Cleanup RTC Engine deps
  membrane_rtc_engine/CHANGELOG.md
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine/mix.lock
  membrane_rtc_engine_hls/CHANGELOG.md
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_rtsp/CHANGELOG.md
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_webrtc/CHANGELOG.md
  membrane_rtc_engine_webrtc/guides/metrics.md
  membrane_rtc_engine_webrtc/guides/simulcast.md
  membrane_rtc_engine_webrtc/internal_docs/assets/simulcast_architecture.drawio.svg
  membrane_rtc_engine_webrtc/internal_docs/assets/simulcast_architecture.xml
  membrane_rtc_engine_webrtc/internal_docs/assets/webrtc_endpoint_architecture.svg
  membrane_rtc_engine_webrtc/internal_docs/assets/webrtc_endpoint_architecture.xml
  membrane_rtc_engine_webrtc/internal_docs/protocol.md
  membrane_rtc_engine_webrtc/internal_docs/simulcast.md
  membrane_rtc_engine_webrtc/internal_docs/webrtc_endpoint.md
  membrane_rtc_engine_webrtc/internal_docs/webrtc_media_events.md
  membrane_rtc_engine_webrtc/lib/metrics.ex
  membrane_rtc_engine_webrtc/mix.exs
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed

Remove metrics from Membrane.RTC.Utils. Restore makeup_diff
  membrane_rtc_engine/CHANGELOG.md
  membrane_rtc_engine/lib/membrane_rtc_engine/utils.ex
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine/mix.lock
  membrane_rtc_engine_hls/CHANGELOG.md
  membrane_rtc_engine_rtsp/CHANGELOG.md
  membrane_rtc_engine_webrtc/CHANGELOG.md
  membrane_rtc_engine_webrtc/config/config.exs
  membrane_rtc_engine_webrtc/config/dev.exs
  membrane_rtc_engine_webrtc/config/prod.exs
  membrane_rtc_engine_webrtc/config/test.exs
  membrane_rtc_engine_webrtc/lib/metrics.ex
  membrane_rtc_engine_webrtc/lib/webrtc/track_receiver.ex
  membrane_rtc_engine_webrtc/lib/webrtc/track_sender.ex
  membrane_rtc_engine_webrtc/lib/webrtc_endpoint.ex
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed

Remove telemetry metrics from the engine.ex
  membrane_rtc_engine/lib/membrane_rtc_engine/engine.ex
  membrane_rtc_engine_webrtc/guides/metrics.md
  membrane_rtc_engine_webrtc/lib/metrics.ex
Due: engine-changed, webrtc-changed

Cleanup RTC Engine deps. Move metrics to the WebRTC Endpoint (#306)
  membrane_rtc_engine/CHANGELOG.md
  membrane_rtc_engine/lib/membrane_rtc_engine/engine.ex
  membrane_rtc_engine/lib/membrane_rtc_engine/metrics.ex
  membrane_rtc_engine/lib/membrane_rtc_engine/utils.ex
  membrane_rtc_engine/mix.exs
  membrane_rtc_engine/mix.lock
  membrane_rtc_engine_hls/CHANGELOG.md
  membrane_rtc_engine_hls/mix.exs
  membrane_rtc_engine_rtsp/CHANGELOG.md
  membrane_rtc_engine_rtsp/mix.exs
  membrane_rtc_engine_webrtc/CHANGELOG.md
  membrane_rtc_engine_webrtc/config/config.exs
  membrane_rtc_engine_webrtc/config/dev.exs
  membrane_rtc_engine_webrtc/config/prod.exs
  membrane_rtc_engine_webrtc/config/test.exs
  membrane_rtc_engine_webrtc/guides/metrics.md
  membrane_rtc_engine_webrtc/guides/simulcast.md
  membrane_rtc_engine_webrtc/internal_docs/assets/simulcast_architecture.drawio.svg
  membrane_rtc_engine_webrtc/internal_docs/assets/simulcast_architecture.xml
  membrane_rtc_engine_webrtc/internal_docs/assets/webrtc_endpoint_architecture.svg
  membrane_rtc_engine_webrtc/internal_docs/assets/webrtc_endpoint_architecture.xml
  membrane_rtc_engine_webrtc/internal_docs/protocol.md
  membrane_rtc_engine_webrtc/internal_docs/simulcast.md
  membrane_rtc_engine_webrtc/internal_docs/webrtc_endpoint.md
  membrane_rtc_engine_webrtc/internal_docs/webrtc_media_events.md
  membrane_rtc_engine_webrtc/lib/metrics.ex
  membrane_rtc_engine_webrtc/lib/webrtc/track_receiver.ex
  membrane_rtc_engine_webrtc/lib/webrtc/track_sender.ex
  membrane_rtc_engine_webrtc/lib/webrtc_endpoint.ex
  membrane_rtc_engine_webrtc/mix.exs
Due: engine-changed, webrtc-changed, hls-changed, rtsp-changed

Update top level README
  README.md
Due: engine-changed

Add get_forwarded_tracks function
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.exs
  engine/test/membrane_rtc_engine/engine_test.exs
  engine/test/support/fake_endpoint.ex
Due: engine-changed

Path conditions:
  engine-changed: (any of: (?!(membrane_rtc_engine\w*|integration_test)/).*) or (any of: membrane_rtc_engine/.*)
  webrtc-changed: any of: membrane_rtc_engine_webrtc/.*
  hls-changed: any of: membrane_rtc_engine_hls/.*
  rtsp-changed: any of: membrane_rtc_engine_rtsp/.*
  integration-changed: any of: integration_test/.*
