Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).* repo-root-changed true
            engine/.* engine-changed true
            webrtc/.* webrtc-changed true
            hls/.* hls-changed true
            rtsp/.* rtsp-changed true
            file/.* file-changed true
            integration_test/.* integration-changed true
            examples/webrtc_to_hls/.* webrtc-to-hls-changed true
            examples/webrtc_videoroom/.* webrtc-videoroom-changed true

Fix formatter
  integration_test/test/hls_endpoint_test.exs
  recording/test/storage/file_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed, integration-changed

Release engine 0.21.0
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/mix.exs
  engine/mix.lock
  file/CHANGELOG.md
  file/README.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/README.md
  hls/mix.exs
  hls/mix.lock
  rtsp/CHANGELOG.md
  rtsp/README.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/README.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Update changelogs
  hls/CHANGELOG.md
  rtsp/CHANGELOG.md
  sip/CHANGELOG.md
Due: repo-root-changed, hls-changed, rtsp-changed

Requested changes
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/config.ex
  recording/lib/storage/file.ex
  recording/test/storage/file_test.exs
Due: repo-root-changed

Update lockfiles
  file/mix.lock
  hls/mix.lock
  rtsp/mix.lock
  sip/mix.lock
  webrtc/mix.lock
Due: repo-root-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Release engine 0.21.0 (#363)
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/mix.exs
  engine/mix.lock
  file/CHANGELOG.md
  file/README.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/README.md
  hls/mix.exs
  hls/mix.lock
  rtsp/CHANGELOG.md
  rtsp/README.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/README.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Post-release changes
  engine/CHANGELOG.md
  engine/mix.exs
  file/CHANGELOG.md
  file/mix.exs
  hls/CHANGELOG.md
  hls/mix.exs
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  sip/CHANGELOG.md
  sip/mix.exs
  webrtc/CHANGELOG.md
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Post-release changes (#364)
  engine/CHANGELOG.md
  engine/mix.exs
  file/CHANGELOG.md
  file/mix.exs
  hls/CHANGELOG.md
  hls/mix.exs
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  sip/CHANGELOG.md
  sip/mix.exs
  webrtc/CHANGELOG.md
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Recording endpoint (#356)
  .circleci/config.yml
  .circleci/continue_config.yml
  file/CHANGELOG.md
  file/lib/file_source_endpoint.ex
  integration_test/mix.exs
  integration_test/test/fixtures/recorded_video.h264
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/file_endpont_generator.ex
  recording/.credo.exs
  recording/.formatter.exs
  recording/.gitignore
  recording/CHANGELOG.md
  recording/LICENSE
  recording/README.md
  recording/lib/recording_endpoint.ex
  recording/lib/reporter.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/mix.exs
  recording/mix.lock
  recording/test/reporter_test.exs
  recording/test/storage/file_test.exs
  recording/test/support/mock_track.ex
  recording/test/test_helper.exs
Due: repo-root-changed, file-changed, integration-changed

Review fixes
  release.sh
Due: repo-root-changed

[RTC-482] Automate releases (#362)
  .gitignore
  release.sh
Due: repo-root-changed

Recording endpoint README fixes
  README.md
  engine/README.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.exs
  recording/README.md
Due: repo-root-changed, engine-changed

changelogs
  engine/CHANGELOG.md
  recording/CHANGELOG.md
Due: repo-root-changed, engine-changed

[RTC-476] Add crash groups, fix adding nonexistent tracks to state
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, integration-changed

Add test for track crash group
  integration_test/test/recording_endpoint_test.exs
Due: integration-changed

Release sip 0.2.1
  sip/CHANGELOG.md
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed

Filename with colon might be invalid on some systems
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Reverting formatting
  recording/lib/recording_endpoint.ex
Due: repo-root-changed

Update CODEOWNERS
  .github/CODEOWNERS
Due: repo-root-changed

[RTC-476] Add crash groups, fix adding nonexistent tracks to state, fix READMEs (#366)
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  recording/CHANGELOG.md
  recording/README.md
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, engine-changed, integration-changed

Update CI
  .circleci/continue_config.yml
Due: repo-root-changed

Change requests
  integration_test/config/config.exs
  integration_test/config/test.exs
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/test_helper.exs
  recording/config/config.exs
  recording/config/test.exs
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/s3/sink.ex
  recording/test/storage/s3/sink_test.exs
  recording/test/test_helper.exs
Due: repo-root-changed, integration-changed

Requested changes
  integration_test/test/recording_endpoint_test.exs
  recording/lib/storage.ex
Due: repo-root-changed, integration-changed

Update dependency to membrane_h26x_plugin.
  file/mix.exs
  file/mix.lock
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  rtsp/mix.exs
  rtsp/mix.lock
Due: hls-changed, rtsp-changed, file-changed, integration-changed

Update CODEOWNERS (#372)
  .github/CODEOWNERS
Due: repo-root-changed

Add endpoint crash reason
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/message.ex
Due: engine-changed

Changelog
  engine/CHANGELOG.md
Due: engine-changed

Add check in tests
  engine/test/membrane_rtc_engine/engine_test.exs
Due: engine-changed

[RTC-478] Add endpoint crash reason (#368)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/message.ex
  engine/test/membrane_rtc_engine/engine_test.exs
Due: engine-changed

Refactor storage API
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/mix.exs
  recording/test/storage/file_test.exs
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Requested changes
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Requested changes
  integration_test/test/recording_endpoint_test.exs
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Format recordings
  recording/test/storage/s3_test.exs
Due: repo-root-changed

Refactor storage API (#375)
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  recording/lib/storage.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/mix.exs
  recording/test/storage/file_test.exs
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Move to membrane_h26x_plugin. Update deps
  engine/mix.lock
  file/mix.exs
  file/mix.lock
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  rtsp/mix.exs
  rtsp/mix.lock
  sip/mix.lock
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed

Update recording. Changelogs
  engine/CHANGELOG.md
  file/CHANGELOG.md
  hls/CHANGELOG.md
  recording/CHANGELOG.md
  recording/mix.lock
  rtsp/CHANGELOG.md
  sip/CHANGELOG.md
  webrtc/CHANGELOG.md
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed
