Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

Change requests
  recording/lib/edge_timestamp_saver.ex
  recording/lib/reporter.ex
Due: repo-root-changed

Add `webrtc_room` demo for testing purposes
  examples/webrtc_room/.formatter.exs
  examples/webrtc_room/.gitignore
  examples/webrtc_room/config/config.exs
  examples/webrtc_room/lib/webrtc_room.ex
  examples/webrtc_room/lib/webrtc_room/engine_handler.ex
  examples/webrtc_room/lib/webrtc_room/peer_handler.ex
  examples/webrtc_room/lib/webrtc_room/router.ex
  examples/webrtc_room/mix.exs
  examples/webrtc_room/mix.lock
  examples/webrtc_room/priv/static/index.html
  examples/webrtc_room/priv/static/script.js
Due: none

Add most of the negotiation logic
  ex_webrtc/config/config.exs
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/mix.exs
Due: repo-root-changed

Change requests
  recording/lib/reporter.ex
Due: repo-root-changed

Refactor rtcp synchronization (#399)
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/lib/reporter.ex
  recording/test/edge_timestamp_saver_test.exs
  recording/test/reporter_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed

chore: lower logs level for those which we mark as ignoring
  engine/lib/membrane_rtc_engine/tees/tee.ex
Due: engine-changed

consistent approach to other ingoring logs
  engine/lib/membrane_rtc_engine/engine.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed

chore: update changelog
  engine/CHANGELOG.md
  sip/CHANGELOG.md
Due: repo-root-changed, engine-changed

chore/lower logs level (#401)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/tees/tee.ex
  sip/CHANGELOG.md
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, engine-changed

Add test for this edge case
  webrtc/integration_test/test_videoroom/test/integration/simulcast_test.exs
Due: webrtc-changed

Update changelog
  webrtc/CHANGELOG.md
Due: webrtc-changed

Fix error and update deps
  webrtc/integration_test/test_videoroom/mix.lock
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: webrtc-changed

Fix handling media events regarding track variant enabling/disabling (#400)
  webrtc/CHANGELOG.md
  webrtc/integration_test/test_videoroom/mix.lock
  webrtc/integration_test/test_videoroom/test/integration/simulcast_test.exs
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: webrtc-changed

Futher progress in the endpoint
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/track_sender.ex
  ex_webrtc/lib/ex_webrtc/variant_tracker.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
Due: repo-root-changed

Only generate turn credentials once
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: webrtc-changed

Allow again connect to WebRTCEndpoint
  engine/lib/membrane_rtc_engine/engine.ex
  engine/test/membrane_rtc_engine/engine_test.exs
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
Due: engine-changed, webrtc-changed

Update changelog
  engine/CHANGELOG.md
  webrtc/CHANGELOG.md
Due: engine-changed, webrtc-changed

Fix typo
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Fix typo v2
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

temp
  engine/mix.exs
  ex_webrtc/.formatter.exs
  ex_webrtc/.gitignore
  ex_webrtc/README.md
  ex_webrtc/config/config.exs
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  ex_webrtc/test/test_helper.exs
Due: repo-root-changed, engine-changed

Improve signaling logs
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Fix formatting
  webrtc/CHANGELOG.md
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Fix credo issue
  webrtc/lib/endpoint_bin/endpoint_bin.ex
Due: webrtc-changed

Update changelog links
  webrtc/CHANGELOG.md
Due: webrtc-changed

Add log about connected media event
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Change signaling log level to debug
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Signaling logs (#404)
  webrtc/CHANGELOG.md
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/webrtc_endpoint.ex
Due: webrtc-changed

Wip handle media events
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/.gitignore
  examples/ex_webrtc_videoroom/assets/.yarnrc.yml
  examples/ex_webrtc_videoroom/assets/package-lock.json
  examples/ex_webrtc_videoroom/assets/package.json
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/config/runtime.exs
  examples/ex_webrtc_videoroom/lib/videoroom/application.ex
  examples/ex_webrtc_videoroom/lib/videoroom/room.ex
  examples/ex_webrtc_videoroom/mix.exs
  examples/ex_webrtc_videoroom/mix.lock
  examples/webrtc_videoroom/assets/src/room.ts
Due: repo-root-changed, webrtc-videoroom-changed

Successful negotiation
  ex_webrtc/.credo.exs
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  examples/ex_webrtc_videoroom/assets/.yarnrc.yml
  examples/ex_webrtc_videoroom/assets/package-lock.json
  examples/ex_webrtc_videoroom/assets/package.json
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/assets/src/room_ui.ts
  examples/ex_webrtc_videoroom/assets/tsconfig.json
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/config/config.exs
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/config/runtime.exs
  examples/ex_webrtc_videoroom/mix.lock
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
  examples/ex_webrtc_videoroom/priv/static/css/app-3d3eb14c5c72a92062dcd49b0a2fd895.css
  examples/ex_webrtc_videoroom/priv/static/css/app-3d3eb14c5c72a92062dcd49b0a2fd895.css.gz
  examples/ex_webrtc_videoroom/priv/static/css/app.css.gz
  examples/ex_webrtc_videoroom/priv/static/favicon-c4482ddf3f7e3e200c0cffeb6515b886.ico
  examples/ex_webrtc_videoroom/priv/static/images/logo-3bc17d3ec49cd554e1955093938bb787.png
  examples/ex_webrtc_videoroom/priv/static/robots-067185ba27a5d9139b10a759679045bf.txt
  examples/ex_webrtc_videoroom/priv/static/robots-067185ba27a5d9139b10a759679045bf.txt.gz
  examples/ex_webrtc_videoroom/priv/static/robots.txt.gz
Due: repo-root-changed

WIP media_events, negotiation
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

WIP add track receiver
  ex_webrtc/lib/ex_webrtc/connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/connection_allocator/allocation_granted_notification.ex
  ex_webrtc/lib/ex_webrtc/forwarder.ex
  ex_webrtc/lib/ex_webrtc/noop_connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger/cache.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/variant_selector.ex
  ex_webrtc/lib/ex_webrtc/vp8_munger.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

WIP video works
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/assets/src/consts.ts
  examples/ex_webrtc_videoroom/mix.lock
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

WIP negotiation old
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

NC
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/assets/src/consts.ts
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/lib/videoroom_web/peer_channel.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

fix mediaEvents
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

Remove module ambiguity
  ex_webrtc/lib/ex_webrtc/connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/connection_allocator/allocation_granted_notification.ex
  ex_webrtc/lib/ex_webrtc/forwarder.ex
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/noop_connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger/cache.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/variant_selector.ex
  ex_webrtc/lib/ex_webrtc/vp8_munger.ex
Due: repo-root-changed

Path conditions:
  repo-root-changed: any of: (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).*
  engine-changed: any of: engine/.*
  webrtc-changed: any of: webrtc/.*
  hls-changed: any of: hls/.*
  rtsp-changed: any of: rtsp/.*
  file-changed: any of: file/.*
  integration-changed: any of: integration_test/.*
  webrtc-to-hls-changed: any of: examples/webrtc_to_hls/.*
  webrtc-videoroom-changed: any of: examples/webrtc_videoroom/.*
