Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).* repo-root-changed true
            engine/.* engine-changed true
            webrtc/.* webrtc-changed true
            hls/.* hls-changed true
            rtsp/.* rtsp-changed true
            file/.* file-changed true
            integration_test/.* integration-changed true
            examples/webrtc_to_hls/.* webrtc-to-hls-changed true
            examples/webrtc_videoroom/.* webrtc-videoroom-changed true

Fix documentation
  .circleci/continue_config.yml
  webrtc/lib/endpoint_bin/metrics/utils.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.exs
Due: repo-root-changed, webrtc-changed

Downgrade bundlex and unifex
  webrtc/mix.exs
  webrtc/mix.lock
Due: webrtc-changed

Merge membrane_webrtc_plugin
  webrtc/CHANGELOG.md
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/endpoint_bin/endpoint_bin/tracks_state.ex
  webrtc/lib/endpoint_bin/extension.ex
  webrtc/lib/endpoint_bin/extension/mid.ex
  webrtc/lib/endpoint_bin/extension/repaired_rid.ex
  webrtc/lib/endpoint_bin/extension/rid.ex
  webrtc/lib/endpoint_bin/extension/twcc.ex
  webrtc/lib/endpoint_bin/extension/vad.ex
  webrtc/lib/endpoint_bin/metrics.ex
  webrtc/lib/endpoint_bin/metrics/utils.ex
  webrtc/lib/endpoint_bin/sdp.ex
  webrtc/lib/endpoint_bin/track.ex
  webrtc/lib/endpoint_bin/track/constraints.ex
  webrtc/lib/endpoint_bin/track/encoding.ex
  webrtc/lib/endpoint_bin/utils.ex
  webrtc/mix.exs
  webrtc/mix.lock
  webrtc/test/endpoint_bin/endpoint_bin_test.exs
  webrtc/test/fixtures/2_incoming_tracks_sdp.txt
  webrtc/test/fixtures/2_outgoing_tracks_sdp.txt
  webrtc/test/fixtures/README.md
  webrtc/test/support/utils.ex
Due: webrtc-changed

Try latest docker membrane image
  .circleci/continue_config.yml
Due: repo-root-changed

Merge membrane_webrtc_plugin (#384)
  .circleci/continue_config.yml
  webrtc/CHANGELOG.md
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/endpoint_bin/endpoint_bin/tracks_state.ex
  webrtc/lib/endpoint_bin/extension.ex
  webrtc/lib/endpoint_bin/extension/mid.ex
  webrtc/lib/endpoint_bin/extension/repaired_rid.ex
  webrtc/lib/endpoint_bin/extension/rid.ex
  webrtc/lib/endpoint_bin/extension/twcc.ex
  webrtc/lib/endpoint_bin/extension/vad.ex
  webrtc/lib/endpoint_bin/metrics.ex
  webrtc/lib/endpoint_bin/sdp.ex
  webrtc/lib/endpoint_bin/track.ex
  webrtc/lib/endpoint_bin/track/constraints.ex
  webrtc/lib/endpoint_bin/track/encoding.ex
  webrtc/lib/endpoint_bin/utils.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.exs
  webrtc/mix.lock
  webrtc/test/endpoint_bin/endpoint_bin_test.exs
  webrtc/test/fixtures/2_incoming_tracks_sdp.txt
  webrtc/test/fixtures/2_outgoing_tracks_sdp.txt
  webrtc/test/fixtures/README.md
  webrtc/test/support/utils.ex
Due: repo-root-changed, webrtc-changed

Recording Endpoint: add origin to report
  recording/lib/reporter.ex
  recording/test/reporter_test.exs
Due: repo-root-changed

Update changelog
  recording/CHANGELOG.md
Due: repo-root-changed

Update recording/CHANGELOG.md
  recording/CHANGELOG.md
Due: repo-root-changed

Recording Endpoint: add origin to report (#387)
  recording/CHANGELOG.md
  recording/lib/reporter.ex
  recording/test/reporter_test.exs
Due: repo-root-changed

Recording Endpoint: change on close s3 mechanism
  integration_test/test/recording_endpoint_test.exs
  recording/lib/storage/s3.ex
  recording/test/reporter_test.exs
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Requested changes
  recording/lib/storage/s3.ex
Due: repo-root-changed

Recording/change s3 on close mechanism (#388)
  integration_test/test/recording_endpoint_test.exs
  recording/CHANGELOG.md
  recording/lib/storage/s3.ex
  recording/test/reporter_test.exs
  recording/test/storage/s3_test.exs
Due: repo-root-changed, integration-changed

Fix nil start_timestamp or nil end_timestamp
  recording/lib/reporter.ex
Due: repo-root-changed

Add Changelog update
  recording/CHANGELOG.md
Due: repo-root-changed

Fix nil start_timestamp or nil end_timestamp (#389)
  recording/CHANGELOG.md
  recording/lib/reporter.ex
Due: repo-root-changed

Release engine 0.22.0
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/mix.exs
  engine/mix.lock
  file/CHANGELOG.md
  file/README.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/README.md
  hls/mix.exs
  hls/mix.lock
  recording/CHANGELOG.md
  recording/mix.exs
  recording/mix.lock
  rtsp/CHANGELOG.md
  rtsp/README.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/README.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

release engine webrtc
  file/mix.lock
  webrtc/mix.lock
Due: webrtc-changed, file-changed

Update lockfiles
  hls/mix.lock
  recording/mix.lock
  rtsp/mix.lock
  sip/mix.lock
Due: repo-root-changed, hls-changed, rtsp-changed

Release engine 0.22.0 (#390)
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/mix.exs
  engine/mix.lock
  file/CHANGELOG.md
  file/README.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/README.md
  hls/mix.exs
  hls/mix.lock
  recording/CHANGELOG.md
  recording/mix.exs
  recording/mix.lock
  rtsp/CHANGELOG.md
  rtsp/README.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/README.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Post-release changes
  engine/CHANGELOG.md
  engine/mix.exs
  file/CHANGELOG.md
  file/mix.exs
  hls/CHANGELOG.md
  hls/mix.exs
  recording/CHANGELOG.md
  recording/mix.exs
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  sip/CHANGELOG.md
  sip/mix.exs
  webrtc/CHANGELOG.md
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Post-release changes (#391)
  engine/CHANGELOG.md
  engine/mix.exs
  file/CHANGELOG.md
  file/mix.exs
  hls/CHANGELOG.md
  hls/mix.exs
  recording/CHANGELOG.md
  recording/mix.exs
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  sip/CHANGELOG.md
  sip/mix.exs
  webrtc/CHANGELOG.md
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Fix setting last_buffer_timestamp
  recording/lib/edge_timestamp_saver.ex
Due: repo-root-changed

Add tests for edge timestamp saver
  recording/lib/edge_timestamp_saver.ex
  recording/mix.lock
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Fix credo
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Update recording/test/edge_timestamp_saver_test.exs
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Fix setting last_buffer_timestamp (#394)
  recording/CHANGELOG.md
  recording/lib/edge_timestamp_saver.ex
  recording/mix.lock
  recording/test/edge_timestamp_saver_test.exs
Due: repo-root-changed

Update videoroom demo readme
  examples/webrtc_videoroom/README.md
Due: webrtc-videoroom-changed

Remove dependency overrides
  engine/mix.exs
  engine/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  rtsp/mix.exs
  sip/mix.exs
  sip/mix.lock
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, rtsp-changed, integration-changed

Update membrane_rtp_plugin
  engine/mix.exs
  integration_test/mix.exs
  rtsp/mix.exs
  sip/mix.exs
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, rtsp-changed, integration-changed

engine: forward rtcp sender event
  engine/lib/membrane_rtc_engine/tees/tee.ex
  engine/mix.exs
  engine/mix.lock
Due: engine-changed

rtsp: udpate deps
  integration_test/mix.lock
  rtsp/mix.exs
  rtsp/mix.lock
Due: rtsp-changed, integration-changed

webrtc: forward rtcp sender event
  webrtc/lib/webrtc/forwarder.ex
  webrtc/lib/webrtc/rtp_munger.ex
  webrtc/lib/webrtc/track_receiver.ex
  webrtc/lib/webrtc/track_sender.ex
  webrtc/mix.lock
Due: webrtc-changed

Remove deprecated ExSDP references
  rtsp/lib/rtsp/connection_manager.ex
  webrtc/lib/endpoint_bin/endpoint_bin.ex
  webrtc/lib/endpoint_bin/extension/mid.ex
  webrtc/lib/endpoint_bin/extension/repaired_rid.ex
  webrtc/lib/endpoint_bin/extension/rid.ex
  webrtc/lib/endpoint_bin/extension/twcc.ex
  webrtc/lib/endpoint_bin/extension/vad.ex
  webrtc/lib/endpoint_bin/sdp.ex
  webrtc/lib/endpoint_bin/track.ex
  webrtc/mix.lock
  webrtc/test/endpoint_bin/endpoint_bin_test.exs
Due: webrtc-changed, rtsp-changed

recording: synchronize streams using rtcp sender event
  recording/lib/edge_timestamp_saver.ex
  recording/lib/reporter.ex
  recording/mix.lock
Due: repo-root-changed

Update changelogs
  engine/CHANGELOG.md
  recording/CHANGELOG.md
  rtsp/CHANGELOG.md
  sip/CHANGELOG.md
  webrtc/CHANGELOG.md
Due: repo-root-changed, engine-changed, webrtc-changed, rtsp-changed

Requested changes
  recording/lib/reporter.ex
Due: repo-root-changed

Recording: add report tests
  recording/lib/reporter.ex
  recording/mix.lock
  recording/test/reporter_test.exs
  recording/test/support/mock_track.ex
Due: repo-root-changed

Don't try to vp8 munger RTCP packets
  webrtc/lib/webrtc/forwarder.ex
Due: webrtc-changed
