Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

Add ice port range
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/lib/videoroom/room.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

Switch to ExWebRTC TrackReceiver
  recording/lib/recording_endpoint.ex
  recording/mix.exs
  recording/mix.lock
Due: repo-root-changed

Remove updating endpoint metadata from media events
  webrtc/lib/webrtc/media_event.ex
  webrtc/lib/webrtc_endpoint.ex
  webrtc/mix.lock
  webrtc/test/webrtc/media_event_test.exs
Due: webrtc-changed

Add async subscribe function
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.lock
Due: engine-changed

Update changelog
  engine/CHANGELOG.md
Due: engine-changed

Use function in tests
  engine/test/support/fake_endpoint.ex
Due: engine-changed

Use spawn_link
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

Add async subscribe function (#407)
  engine/CHANGELOG.md
  engine/lib/membrane_rtc_engine/engine.ex
  engine/mix.lock
  engine/test/support/fake_endpoint.ex
Due: engine-changed

Futher progress in the endpoint
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/track_sender.ex
  ex_webrtc/lib/ex_webrtc/variant_tracker.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
Due: repo-root-changed

Working negotiation and stuff
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/.gitignore
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/config/dev.exs
Due: repo-root-changed

Engine subscribe async
  engine/mix.exs
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/track_sender.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/webrtc_room/mix.exs
  examples/webrtc_room/mix.lock
  recording/lib/recording_endpoint.ex
Due: repo-root-changed, engine-changed

Fix displaying peers
  examples/ex_webrtc_videoroom/.gitignore
  examples/ex_webrtc_videoroom/assets/.yarnrc.yml
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/mix.exs
Due: none

WIP negotiation old
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

Remove module ambiguity
  ex_webrtc/lib/ex_webrtc/connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/connection_allocator/allocation_granted_notification.ex
  ex_webrtc/lib/ex_webrtc/forwarder.ex
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/noop_connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger/cache.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/variant_selector.ex
  ex_webrtc/lib/ex_webrtc/vp8_munger.ex
  examples/ex_webrtc_videoroom/lib/videoroom/room.ex
  examples/ex_webrtc_videoroom/lib/videoroom_web/peer_channel.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
  recording/lib/recording_endpoint.ex
  recording/mix.exs
  recording/mix.lock
Due: repo-root-changed

Add `webrtc_room` demo for testing purposes
  examples/webrtc_room/.formatter.exs
  examples/webrtc_room/.gitignore
  examples/webrtc_room/config/config.exs
  examples/webrtc_room/lib/webrtc_room.ex
  examples/webrtc_room/lib/webrtc_room/engine_handler.ex
  examples/webrtc_room/lib/webrtc_room/peer_handler.ex
  examples/webrtc_room/lib/webrtc_room/router.ex
  examples/webrtc_room/mix.exs
  examples/webrtc_room/mix.lock
  examples/webrtc_room/priv/static/index.html
  examples/webrtc_room/priv/static/script.js
Due: none

Successful negotiation
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  examples/ex_webrtc_videoroom/assets/.yarnrc.yml
  examples/ex_webrtc_videoroom/assets/package-lock.json
  examples/ex_webrtc_videoroom/assets/package.json
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/assets/src/room_ui.ts
  examples/ex_webrtc_videoroom/assets/tsconfig.json
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/config/config.exs
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/config/runtime.exs
  examples/ex_webrtc_videoroom/mix.lock
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
  examples/ex_webrtc_videoroom/priv/static/css/app-3d3eb14c5c72a92062dcd49b0a2fd895.css
  examples/ex_webrtc_videoroom/priv/static/css/app-3d3eb14c5c72a92062dcd49b0a2fd895.css.gz
  examples/ex_webrtc_videoroom/priv/static/css/app.css.gz
  examples/ex_webrtc_videoroom/priv/static/favicon-c4482ddf3f7e3e200c0cffeb6515b886.ico
  examples/ex_webrtc_videoroom/priv/static/images/logo-3bc17d3ec49cd554e1955093938bb787.png
  examples/ex_webrtc_videoroom/priv/static/robots-067185ba27a5d9139b10a759679045bf.txt
  examples/ex_webrtc_videoroom/priv/static/robots-067185ba27a5d9139b10a759679045bf.txt.gz
  examples/ex_webrtc_videoroom/priv/static/robots.txt.gz
Due: repo-root-changed

Copy webrtc_videoroom example
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  examples/ex_webrtc_videoroom/mix.exs
Due: repo-root-changed

Add endpoint metadata
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/config/config.exs
  webrtc/mix.lock
Due: repo-root-changed, webrtc-changed

Remove webrtc_room example
  examples/ex_webrtc_videoroom/.gitignore
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
  examples/ex_webrtc_videoroom/priv/static/css/app-3d3eb14c5c72a92062dcd49b0a2fd895.css
  examples/ex_webrtc_videoroom/priv/static/css/app-3d3eb14c5c72a92062dcd49b0a2fd895.css.gz
  examples/ex_webrtc_videoroom/priv/static/css/app.css.gz
  examples/ex_webrtc_videoroom/priv/static/favicon-c4482ddf3f7e3e200c0cffeb6515b886.ico
  examples/ex_webrtc_videoroom/priv/static/images/logo-3bc17d3ec49cd554e1955093938bb787.png
  examples/ex_webrtc_videoroom/priv/static/robots-067185ba27a5d9139b10a759679045bf.txt
  examples/ex_webrtc_videoroom/priv/static/robots-067185ba27a5d9139b10a759679045bf.txt.gz
  examples/ex_webrtc_videoroom/priv/static/robots.txt.gz
  examples/webrtc_room/.formatter.exs
  examples/webrtc_room/.gitignore
  examples/webrtc_room/config/config.exs
  examples/webrtc_room/lib/webrtc_room.ex
  examples/webrtc_room/lib/webrtc_room/engine_handler.ex
  examples/webrtc_room/lib/webrtc_room/peer_handler.ex
  examples/webrtc_room/lib/webrtc_room/router.ex
  examples/webrtc_room/mix.exs
  examples/webrtc_room/mix.lock
  examples/webrtc_room/priv/static/index.html
  examples/webrtc_room/priv/static/script.js
  examples/webrtc_videoroom/assets/src/room.ts
  integration_test/mix.lock
  recording/mix.exs
  recording/mix.lock
  sample_audio.wav
Due: repo-root-changed, integration-changed, webrtc-videoroom-changed

WIP video works
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/assets/src/consts.ts
  examples/ex_webrtc_videoroom/mix.lock
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

WIP videoroom demo
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/mix.lock
  examples/ex_webrtc_videoroom/assets/src/consts.ts
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/mix.lock
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

integration test
  .circleci/config.yml
  .circleci/continue_config.yml
  ex_webrtc/integration_test/test_videoroom/config/runtime.exs
  ex_webrtc/integration_test/test_videoroom/lib/test_videoroom/room.ex
  ex_webrtc/integration_test/test_videoroom/mix.exs
  ex_webrtc/integration_test/test_videoroom/mix.lock
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/test/ex_webrtc/media_event_test.exs
  ex_webrtc/test/ex_webrtc/rtp_munger/cache_test.exs
  ex_webrtc/test/ex_webrtc/rtp_munger_test.exs
  ex_webrtc/test/ex_webrtc/track_sender_test.exs
  ex_webrtc/test/ex_webrtc/variant_selector_test.exs
  ex_webrtc/test/ex_webrtc/variant_tracker_test.exs
  ex_webrtc/test/ex_webrtc/vp8_munger_test.exs
  ex_webrtc/test/support/test_connection_allocator.ex
  ex_webrtc/test/support/utils.ex
Due: repo-root-changed

temp
  engine/mix.exs
  ex_webrtc/.gitignore
  ex_webrtc/README.md
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  ex_webrtc/test/test_helper.exs
Due: repo-root-changed, engine-changed

Remove old webrtc stuff
  ex_webrtc/internal_docs/assets/simulcast_architecture.drawio.svg
  ex_webrtc/internal_docs/assets/simulcast_architecture.xml
  ex_webrtc/internal_docs/assets/webrtc_endpoint_architecture.svg
  ex_webrtc/internal_docs/assets/webrtc_endpoint_architecture.xml
  ex_webrtc/internal_docs/webrtc_endpoint.md
  ex_webrtc/lib/endpoint_bin/endpoint_bin.ex
  ex_webrtc/lib/endpoint_bin/endpoint_bin/tracks_state.ex
  ex_webrtc/lib/endpoint_bin/extension.ex
  ex_webrtc/lib/endpoint_bin/extension/mid.ex
  ex_webrtc/lib/endpoint_bin/extension/repaired_rid.ex
  ex_webrtc/lib/endpoint_bin/extension/rid.ex
  ex_webrtc/lib/endpoint_bin/extension/twcc.ex
  ex_webrtc/lib/endpoint_bin/extension/vad.ex
  ex_webrtc/lib/endpoint_bin/metrics.ex
  ex_webrtc/lib/endpoint_bin/sdp.ex
  ex_webrtc/lib/endpoint_bin/track.ex
  ex_webrtc/lib/endpoint_bin/track/constraints.ex
  ex_webrtc/lib/endpoint_bin/track/encoding.ex
  ex_webrtc/lib/endpoint_bin/utils.ex
  ex_webrtc/lib/ex_webrtc/rtp_connection_allocator.ex
  ex_webrtc/test/endpoint_bin/endpoint_bin_test.exs
  ex_webrtc/test/webrtc/media_event_test.exs
  ex_webrtc/test/webrtc/rtp_connection_allocator_test.exs
  ex_webrtc/test/webrtc/rtp_munger/cache_test.exs
  ex_webrtc/test/webrtc/rtp_munger_test.exs
  ex_webrtc/test/webrtc/track_sender_test.exs
  ex_webrtc/test/webrtc/variant_selector_test.exs
  ex_webrtc/test/webrtc/variant_tracker_test.exs
  ex_webrtc/test/webrtc/vp8_munger_test.exs
Due: repo-root-changed

Project stuff
  ex_webrtc/CHANGELOG.md
  ex_webrtc/README.md
  ex_webrtc/internal_docs/assets/ex_webrtc_endpoint_architecture.drawio.svg
  ex_webrtc/internal_docs/ex_webrtc_endpoint.md
  ex_webrtc/mix.exs
  ex_webrtc/mix.lock
  recording/mix.lock
Due: repo-root-changed

Add most of the negotiation logic
  ex_webrtc/lib/ex_webrtc.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/mix.exs
Due: repo-root-changed

Copy webrtc
  ex_webrtc/integration_test/test_browser/.dockerignore
  ex_webrtc/integration_test/test_browser/.formatter.exs
  ex_webrtc/integration_test/test_browser/.gitignore
  ex_webrtc/integration_test/test_browser/Dockerfile
  ex_webrtc/integration_test/test_browser/README.md
  ex_webrtc/integration_test/test_browser/docker-entrypoint.sh
  ex_webrtc/integration_test/test_browser/lib/test_browser/mustang.ex
  ex_webrtc/integration_test/test_browser/lib/test_browser/utils.ex
  ex_webrtc/integration_test/test_browser/mix.exs
  ex_webrtc/integration_test/test_browser/mix.lock
  ex_webrtc/integration_test/test_browser/test/test_browser_test.exs
  ex_webrtc/integration_test/test_browser/test/test_helper.exs
  ex_webrtc/lib/ex_webrtc/connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/connection_allocator/allocation_granted_notification.ex
  ex_webrtc/lib/ex_webrtc/forwarder.ex
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/noop_connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/rtp_connection_allocator.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger.ex
  ex_webrtc/lib/ex_webrtc/rtp_munger/cache.ex
  ex_webrtc/lib/ex_webrtc/simulcast_config.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/track_sender.ex
  ex_webrtc/lib/ex_webrtc/variant_selector.ex
  ex_webrtc/lib/ex_webrtc/variant_tracker.ex
  ex_webrtc/lib/ex_webrtc/vp8_munger.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
Due: repo-root-changed

Add ex-webrtc integration test
  .circleci/continue_config.yml
  engine/mix.exs
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/config/runtime.exs
  examples/ex_webrtc_videoroom/lib/videoroom/room.ex
Due: repo-root-changed, engine-changed

Revert integration test
  ex_webrtc/integration_test/test_videoroom/config/runtime.exs
  ex_webrtc/integration_test/test_videoroom/lib/test_videoroom/room.ex
  ex_webrtc/integration_test/test_videoroom/mix.exs
  ex_webrtc/integration_test/test_videoroom/mix.lock
Due: repo-root-changed

Fix specs
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/variant_selector.ex
Due: repo-root-changed

revert removed metrics
  ex_webrtc/integration_test/test_browser/.dockerignore
  ex_webrtc/integration_test/test_browser/.formatter.exs
  ex_webrtc/integration_test/test_browser/.gitignore
  ex_webrtc/integration_test/test_browser/Dockerfile
  ex_webrtc/integration_test/test_browser/README.md
  ex_webrtc/integration_test/test_browser/docker-entrypoint.sh
  ex_webrtc/integration_test/test_browser/lib/test_browser/mustang.ex
  ex_webrtc/integration_test/test_browser/lib/test_browser/utils.ex
  ex_webrtc/integration_test/test_browser/mix.exs
  ex_webrtc/integration_test/test_browser/mix.lock
  ex_webrtc/integration_test/test_browser/test/test_browser_test.exs
  ex_webrtc/integration_test/test_browser/test/test_helper.exs
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/track_sender.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  ex_webrtc/lib/metrics.ex
  examples/ex_webrtc_videoroom/assets/package.json
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/config/config.exs
  examples/ex_webrtc_videoroom/mix.lock
  webrtc/mix.lock
Due: repo-root-changed, webrtc-changed

WIP media_events, negotiation
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

Fix formatting
  .circleci/continue_config.yml
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc/track_sender.ex
  ex_webrtc/test/test_helper.exs
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/config/runtime.exs
  examples/ex_webrtc_videoroom/lib/videoroom/application.ex
  examples/ex_webrtc_videoroom/lib/videoroom/room.ex
Due: repo-root-changed

Negotiation done
  ex_webrtc/lib/ex_webrtc/media_event.ex
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/lib/videoroom_web/peer_channel.ex
Due: repo-root-changed

ME and ice_port_range
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
Due: repo-root-changed

Wip handle media events
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/.gitignore
  examples/ex_webrtc_videoroom/assets/.yarnrc.yml
  examples/ex_webrtc_videoroom/assets/package-lock.json
  examples/ex_webrtc_videoroom/assets/package.json
  examples/ex_webrtc_videoroom/assets/src/room.ts
  examples/ex_webrtc_videoroom/assets/yarn.lock
  examples/ex_webrtc_videoroom/config/dev.exs
  examples/ex_webrtc_videoroom/config/runtime.exs
  examples/ex_webrtc_videoroom/lib/videoroom/application.ex
  examples/ex_webrtc_videoroom/lib/videoroom/room.ex
  examples/ex_webrtc_videoroom/mix.exs
  examples/ex_webrtc_videoroom/mix.lock
  examples/webrtc_videoroom/assets/src/room.ts
Due: repo-root-changed, webrtc-videoroom-changed

WIP add track receiver
  ex_webrtc/lib/ex_webrtc/peer_connection_handler.ex
  ex_webrtc/lib/ex_webrtc/track_receiver.ex
  ex_webrtc/lib/ex_webrtc_endpoint.ex
  examples/ex_webrtc_videoroom/priv/static/cache_manifest.json
Due: repo-root-changed

Path conditions:
  repo-root-changed: any of: (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).*
  engine-changed: any of: engine/.*
  webrtc-changed: any of: webrtc/.*
  hls-changed: any of: hls/.*
  rtsp-changed: any of: rtsp/.*
  file-changed: any of: file/.*
  integration-changed: any of: integration_test/.*
  webrtc-to-hls-changed: any of: examples/webrtc_to_hls/.*
  webrtc-videoroom-changed: any of: examples/webrtc_videoroom/.*
