Repository fishjam-dev/membrane_rtc_engine: changes, and which CircleCI parameters are due for each by the changed paths.
All: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed, webrtc-to-hls-changed, webrtc-videoroom-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          name: generate_config
          base-revision: master
          config-path: .circleci/continue_config.yml
          mapping: |
            (?!(engine|webrtc|hls|rtsp|integration_test|file|examples)/).* repo-root-changed true
            engine/.* engine-changed true
            webrtc/.* webrtc-changed true
            hls/.* hls-changed true
            rtsp/.* rtsp-changed true
            file/.* file-changed true
            integration_test/.* integration-changed true
            examples/webrtc_to_hls/.* webrtc-to-hls-changed true
            examples/webrtc_videoroom/.* webrtc-videoroom-changed true

update hls changelog after rebase
  hls/CHANGELOG.md
Due: hls-changed

Fix SIP integration tests
  integration_test/test/sip_endpoint_test.exs
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
  sip/mix.lock
Due: repo-root-changed, integration-changed

Update deps
  hls/CHANGELOG.md
  integration_test/docker-compose-test.yaml
  integration_test/mix.lock
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed, hls-changed, integration-changed

Add subscribe function in HLS Endpoint
  hls/lib/hls_endpoint.ex
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/sip_endpoint_test.exs
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, hls-changed, integration-changed

Move state definition
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Implement CANCEL in incorrect way
  sip/lib/sip/outgoing_call.ex
  sip/test/sip/outgoing_call_test.exs
Due: repo-root-changed

Revert "Implement CANCEL in incorrect way"
  sip/lib/sip/outgoing_call.ex
  sip/test/sip/outgoing_call_test.exs
Due: repo-root-changed

hopefully fix routing
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

hopefully fix the previous fix breaking transfers
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

new cancel impl
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

delete auth headers from cancel
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

pt2
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

Temporarily disable CANCEL test
  sip/test/sip/outgoing_call_test.exs
Due: repo-root-changed

Changes after review in Engine and HLS
  engine/config/config.exs
  engine/lib/membrane_rtc_engine/engine.ex
  hls/lib/hls_endpoint.ex
  hls/mix.lock
Due: engine-changed, hls-changed

Remove IO.inspect
  integration_test/test/sip_endpoint_test.exs
Due: integration-changed

Update engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/engine.ex
Due: engine-changed

SIP review fixes pt2
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip/sippet_core.ex
  sip/lib/sip_endpoint.ex
Due: repo-root-changed

Add some docs
  README.md
  engine/lib/membrane_rtc_engine/engine.ex
Due: repo-root-changed, engine-changed

Remove opentelemetry from mix.lock
  engine/guides/traces.md
  engine/lib/membrane_rtc_engine/engine.ex
  file/config/config.exs
  file/mix.lock
  hls/mix.lock
  integration_test/config/config.exs
  integration_test/mix.lock
  rtsp/mix.lock
  sip/config/config.exs
  sip/mix.lock
  webrtc/integration_test/test_videoroom/mix.lock
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed

Remove reference to traces.md
  engine/mix.exs
Due: engine-changed

Lock aac_fdk version
  integration_test/mix.exs
  integration_test/mix.lock
Due: integration-changed

Fix CANCELs, reenable CANCEL test
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/test/sip/outgoing_call_test.exs
Due: repo-root-changed

Fix RC when CANCELling sometimes
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
Due: repo-root-changed

Lint. Update mix.exs
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/mix.exs
Due: repo-root-changed

Update opus parser spec
  file/lib/file_source_endpoint.ex
  file/mix.lock
  sip/lib/sip_endpoint.ex
  sip/mix.lock
Due: repo-root-changed, file-changed

Fixes after The Membrane Core Kerfuffle(TM)
  file/lib/file_source_endpoint.ex
  integration_test/mix.exs
  sip/lib/sip_endpoint.ex
Due: repo-root-changed, file-changed, integration-changed

Lock broken deps
  file/mix.exs
  file/mix.lock
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed, hls-changed, file-changed, integration-changed

Bump deps
  engine/mix.lock
  file/mix.exs
  file/mix.lock
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  rtsp/mix.lock
  sip/mix.exs
  sip/mix.lock
Due: repo-root-changed, engine-changed, hls-changed, rtsp-changed, file-changed, integration-changed

Update readmes
  README.md
  engine/CHANGELOG.md
  engine/README.md
  file/CHANGELOG.md
  file/README.md
  hls/CHANGELOG.md
  hls/README.md
  rtsp/CHANGELOG.md
  rtsp/README.md
  sip/CHANGELOG.md
  webrtc/CHANGELOG.md
  webrtc/README.md
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Fix docs
  engine/lib/membrane_rtc_engine/message.ex
Due: engine-changed

Fix tests
  engine/lib/membrane_rtc_engine/engine.ex
  engine/test/membrane_rtc_engine/engine_test.exs
Due: engine-changed

Add track metadata updated message
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/message.ex
  engine/test/membrane_rtc_engine/engine_test.exs
Due: engine-changed

Metadata notifications
  engine/lib/membrane_rtc_engine/engine.ex
  engine/lib/membrane_rtc_engine/message.ex
  engine/test/membrane_rtc_engine/engine_test.exs
Due: engine-changed

Changelog
  engine/CHANGELOG.md
Due: engine-changed

Update lockfiles
  engine/mix.exs
  file/mix.exs
  file/mix.lock
  hls/mix.exs
  hls/mix.lock
  rtsp/mix.exs
  rtsp/mix.lock
  sip/mix.exs
  sip/mix.lock
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Release engine 0.20.0, SIP 0.1.0 (#353)
  README.md
  engine/CHANGELOG.md
  engine/README.md
  engine/mix.exs
  engine/mix.lock
  file/CHANGELOG.md
  file/README.md
  file/mix.exs
  file/mix.lock
  hls/CHANGELOG.md
  hls/README.md
  hls/mix.exs
  hls/mix.lock
  integration_test/mix.exs
  integration_test/mix.lock
  rtsp/CHANGELOG.md
  rtsp/README.md
  rtsp/mix.exs
  rtsp/mix.lock
  sip/CHANGELOG.md
  sip/mix.exs
  sip/mix.lock
  webrtc/CHANGELOG.md
  webrtc/README.md
  webrtc/mix.exs
  webrtc/mix.lock
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed, integration-changed

Post-release changes
  engine/CHANGELOG.md
  engine/mix.exs
  file/CHANGELOG.md
  file/mix.exs
  hls/CHANGELOG.md
  hls/mix.exs
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  sip/CHANGELOG.md
  sip/mix.exs
  webrtc/CHANGELOG.md
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Post-0.20.0 release changes (#355)
  engine/CHANGELOG.md
  engine/mix.exs
  file/CHANGELOG.md
  file/mix.exs
  hls/CHANGELOG.md
  hls/mix.exs
  rtsp/CHANGELOG.md
  rtsp/mix.exs
  sip/CHANGELOG.md
  sip/mix.exs
  webrtc/CHANGELOG.md
  webrtc/mix.exs
Due: repo-root-changed, engine-changed, webrtc-changed, hls-changed, rtsp-changed, file-changed

Remove empty metadata from callback return
  file/lib/file_source_endpoint.ex
Due: file-changed
